{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>



    <div class="example-wrapper">
        <h1>Tous les events! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/Users/a_cauvin/Desktop/CEFIM/Symfony/exercice_cours/holacine/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/a_cauvin/Desktop/CEFIM/Symfony/exercice_cours/holacine/templates/home/register.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
        </ul>
    </div>

    <hr>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        {% for event in allEvents %}

            {% include "partials/_cardevent.html.twig" with {'event': event} %}

        {% endfor %}
    </div>

    {% if is_granted('ROLE_CONTRIBUTOR') %}
        <div class="row">
            <div class="col-2 d-flex justify-content-center mx-auto">
                <a class="btn btn-primary mx-auto" href="/events/add">Add an event</a>
            </div>
        </div>
    {% endif %}

{% endblock %}