{% extends 'base.html.twig' %}

{% block title %}Participer à un évènement{% endblock %}

{% block body %}
    <h1>Participer à un évènement</h1>

    <hr>

    {{ form(eventParticipationForm) }}

{% endblock %}