{% extends 'base.html.twig' %}

{% block title %}Event Site{% endblock %}

{% block body %}
    <h1>Bienvenue sur Event Site</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet maiores necessitatibus omnis quia quis rem sequi voluptatibus? Ducimus excepturi harum illum, possimus ratione soluta unde. Cupiditate excepturi nisi quae rerum.</p>
{% endblock %}
